.search-bar {
    display: flex;
    align-items: center;
}

.search-bar__header {
    color: #2A78DE;
    margin-right: 32px;
}

.search-bar__input {
    border-radius: 16px;
    padding: 8px;
}

.search-bar__input:focus-visible {
    outline: 0;
    border-color: rgb(99, 59, 245) rgba(99, 59, 245, 0.8) rgba(99, 59, 245, 0.8) rgb(99, 59, 245)
}

.search-bar__icon {
    border-radius: 32px;
    margin-right: 8px;
    cursor: pointer;
}