.main-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 48px;
}

.main-page__text {
    text-align: left;
    max-width: calc(40% - 40px);
    padding: 20px;
    transition: opacity 0.5s, transform 0.5s;
    transition-delay: 0.25s;
    opacity: 0;
    transform: translate(50px, 0);
}

.main-page__text--shown {
    opacity: 1;
    transform: translate(0, 0);
}

.main-page__text > h1 {
    color: #2A78DE
}

.main-page__buttons {
    display: inline-flex;
    justify-content: space-between;
}

.main-page__buttons > button {
    margin: 0 6px;
}

.main-page__image {
    max-width: calc(40% - 40px);
    padding: 20px;
    transition: opacity 0.5s, transform 0.5s;
    transition-delay: 0.5s;
    opacity: 0;
    transform: translate(50px, 0);
}

.main-page__image--shown {
    opacity: 1;
    transform: translate(0, 0);
}

.main-page__image > img {
    width: 100%;
}
