.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 100;
}

.navItems {
    display: flex;
    justify-content: center;
    white-space: wrap;
}
